<html>
  <head>
    <link rel="icon" href="data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20viewBox='0%200%2016%2016'%3E%3Ctext%20x='0'%20y='14'%3E🚵‍♂️%3C/text%3E%3C/svg%3E" type="image/svg+xml"/>
    <title>Directus Strava Extension</title>
    <style>
      * {
        font-family: sans-serif;
      }
      .green {
        color: green;
      }
      .button {
        padding: 4px;
        font-size: 13px;
        border-radius: 2px;
        text-decoration: none;
        background-color: #efefef;
        border: 1px solid rgb(118, 118, 118);
        cursor: pointer;
        color: black;
      }
    </style>
  </head>
  <body>
    <h1>🚶‍♂️ Directus Strava Extension 🚴‍♀️</h1>
    <h2>Status</h2>
    <p>Authenticated {% if token %}
        <span class="green">✔</span>
      {% else %}❌{% endif %} - <a class="button" href="{{ oauthUrl }}">
        {% if token %}Rea{% else %}A{% endif %}uthenticate</a>
    </p>
    {% if token %}
      <p>Subscribed {% if subscriptionId %}
          <span class="green">✔</span>
        {% else %}❌{% endif %} - 
      {% if subscriptionId %}
          <a  class="button" href="{{ extensionUrl }}/subscription/delete?id={{subscriptionId}}">Unsubscribe</a>
        {% else %}
          <a  class="button" href="{{ extensionUrl }}/subscription/create">Subscribe</a>
        {% endif %}
      </p>
    {% endif %}
    {% if token %}
      <h2>Activities</h2>
      <p>
        <a href="{{ extensionUrl }}/list">View recent activities</a>
      </p>
    {% endif %}
  </div>
</body>
</html>