<html>
  <head>
    <link rel="icon" href="data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20viewBox='0%200%2016%2016'%3E%3Ctext%20x='0'%20y='14'%3E🚵‍♂️%3C/text%3E%3C/svg%3E" type="image/svg+xml"/>
    <title>Directus Strava Extension</title>
    <style>
      * {
        font-family: sans-serif;
      }
      .green {
        color: green;
      }
      .red {
        color: red;
      }
      .activities {
        grid-template-columns: minmax(100px, 180px) auto 60px 60px 60px;
        display: inline-grid;
        grid-auto-rows: minmax(21px, auto);
        grid-row-gap: 5px;
        grid-column-gap: 5px;
        margin-bottom: 10px;
      }
      .activities > * {
        overflow: hidden;
        text-overflow: ellipsis;
      }
      .button {
        padding: 4px;
        font-size: 13px;
        border-radius: 2px;
        text-decoration: none;
        background-color: #efefef;
        border: 1px solid rgb(118, 118, 118);
        cursor: pointer;
        color: black;
      }
      .title {
        display: flex;
        align-items: center;
      }
      .title span {
        font-size: 2em;
      }
      @media (prefers-color-scheme: dark) {
        body,
        button,
        html,
        input,
        select,
        textarea {
          border-color: #827661;
          color: #fffddd;
          background-color: #1d1c19;
        }
        a:not(.button) {
          color: #7399be;
        }
        a:not(.button):visited {
          color: #f0f8ff;
        }
      }
    </style>
  </head>
  <body>
    <div class="title">
      <span>🚶‍♂️ </span>
      <h1>Directus Strava Extension</h1>
      <span> 🚴‍♀️</span></div>
    <h2>Status</h2>
    <p>Authenticated {% if token %}
        <span class="green">✔</span>
      {% else %}❌{% endif %} - <a class="button" href="{{ oauthUrl }}">
        {% if token %}Rea{% else %}A{% endif %}uthenticate</a>
    </p>
    {% if token %}
      <h2>Activities</h2>
      <div class="activities">
      {% for activity in activities %}
        <span>{{ activity.start_date }}</span>
        <a href="https://www.strava.com/activities/{{ activity.id }}">{{ activity.name }}</a>
        <a href="{{ extensionUrl }}/fetch/{{ activity.id }}">Fetch</a>
        <a href="{{ extensionUrl }}/view/{{ activity.id }}">(json)</a>
        {% if activity.id === updated %}
            <span class="green">✔️</span>
        {% elif activity.id === failed %}
            <span class="red">❌</span>
        {% else %}
            <span></span>
        {% endif %}
      {% else %}
          <p>No activities</p>
      {% endfor %}
      </div>
      <div>
        {% if page > 1 %}
          <a href="?page={{ page - 1 }}">Previous Page</a>
          &nbsp;
        {% endif %}
        {% if activities.length === 30 %}
          <a href="?page={{ page + 1 }}">Next Page</a>
        {% endif %}
      </div>
    {% endif %}
  </div>
</body>
</html>